::-webkit-scrollbar
{
	width: 15px;
	background-color: #e1f0ff;
}

::-webkit-scrollbar-thumb
{
	background-color: #74b9ff;
	border-radius: 10px;
}
.App {
  width: 100vw;
  font-family: "NugoSansLight";
  .top-bg {
    // background: url("./static/images/home-2.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    height: fit-content;
    background: rgb(230, 230, 230);
    background: linear-gradient(
      0deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cursor-pointer {
  cursor: pointer;
}
